# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# test artifacts
coverage

# lint artifacts
tsconfig.tsbuildinfo

# yarn v4 
.yarn*

# shadcn 
@components
@lib

*.env*

# Python script outputs
output_with_metadata.jpg
