default:
    image: node:20-alpine

stages:
    - Prepare
    - Deploy

Lint & Test:
    stage: Prepare
    interruptible: true
    script:
        - cp $ENV ./.env
        - yarn install
        - yarn lint
        - yarn test
        - yarn build
    artifacts:
        paths:
            - dist/

Build & Deploy Image:
    stage: Deploy
    interruptible: true
    image: docker:24.0.6-dind
    dependencies:
        - Lint & Test
    services:
        - name: docker:24.0.6-dind
    script:
        - docker rmi yafa-pwa-image || true
        - docker build -t yafa-pwa-image .
        - docker stop yafa-pwa || true && docker rm yafa-pwa || true
        - docker run -d --net yafa-net --ip 172.37.0.26 --name yafa-pwa yafa-pwa-image
    rules:
        - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
          when: never
        - if: '$CI_COMMIT_BRANCH == "main"'
          when: on_success
        - if: '$CI_COMMIT_BRANCH != "main"'
          when: manual
